
    .pp_overlay {
        background: #000;
        display: none;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 9500;
    }

    .pp_pic_holder {
        display: none;
        position: absolute;
        width: 100px;
        z-index: 10000;
    }

    .pp_pic_holder .pp_content_container {
        position: relative;
        text-align: left;
        width: 100%;
    }

    .pp_pic_holder .pp_content_container .pp_content {
        height: 40px;
        min-width: 40px;
    }
    * html .pp_content { width: 40px; }
        
    .pp_pic_holder .pp_content_container .pp_content .pp_loaderIcon {
         display: none;
         height: 24px;
         left: 50%;
         margin: -12px 0 0 -12px;
         position: absolute;
         top: 50%;
         width: 24px;
         background: url(loader.gif) center center no-repeat;
    }

    .pp_pic_holder .pp_content_container .pp_content .pp_fade { display: none; }

    .pp_pic_holder .pp_content_container .pp_content .pp_fade .pp_description {
        position: absolute;
        left: 20px;
        top: 1000px;
    }

    .pp_pic_holder .pp_content_container .pp_content .pp_fade #pp_full_res {
        line-height: 1 !important;
    }

    .pp_pic_holder .pp_content_container .pp_content .pp_fade .pp_hoverContainer {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2000;
    }

    .pp_pic_holder .pp_content_container .pp_content .pp_fade .pp_hoverContainer a.pp_next {
        display: block;
        float: right;
        height: 100%;
        text-indent: -10000px;
        width: 49%;
    }
    .pp_pic_holder .pp_content_container .pp_content .pp_fade .pp_hoverContainer a.pp_previous {
        display: block;
        float: left;
        height: 100%;
        text-indent: -10000px;
        width: 49%;
    }

    .pp_pic_holder .pp_content_container .pp_content .pp_fade .pp_hoverContainer .pp_next:hover {
        background: url(sprite_next.png) center right  no-repeat;
        cursor: pointer;
    }
    .pp_pic_holder .pp_content_container .pp_content .pp_fade .pp_hoverContainer .pp_previous:hover {
        background: url(sprite_prev.png) center left no-repeat;
        cursor: pointer;
    }

    .pp_pic_holder .pp_nav {
        clear: none;
        height: 30px;
        width: 110px;
        position: absolute;
        top: 500px;/*手工*/
        left:-150px;/*手工*/
    }

    .pp_pic_holder .pp_nav .pp_play,.pp_nav .pp_pause { 
        background: url(sprite.png) -51px 1px no-repeat;
        height:30px;
        width:30px;
    }
    .pp_pic_holder .pp_nav .pp_pause {
        background-position: -51px -29px;
    }
    .pp_pic_holder .pp_nav .pp_play,
    .pp_nav .pp_pause {
        float: left;
        margin-right: 4px;
        text-indent: -10000px;
    }

    .pp_pic_holder .pp_nav p {
        float: left;
        margin: 2px 4px;
        white-space: nowrap;
    }
    






     .pp_gallery {
         left: 50%;
         margin-top: -50px;
         position: absolute;
         z-index: 10000;
     }
        
     .pp_gallery div {
         float: left;
         overflow: hidden;
         position: relative;
     }
            
     .pp_gallery ul {
         float: left;
         height: 35px;
         margin: 0 0 0 5px;
         padding: 0;
         position: relative;
         white-space: nowrap;
     }
     
     .pp_gallery ul a {
         border: 1px #000 solid;
         border: 1px rgba(0,0,0,0.5) solid;
         display: block;
         float: left;
         height: 33px;
         overflow: hidden;
     }
     
     .pp_gallery ul a:hover,
     .pp_gallery li.selected a { border-color: #fff; }
     
     .pp_gallery ul a img { border: 0; }
     
     .pp_gallery li {
         display: block;
         float: left;
         margin: 0 5px 0 0;
         padding: 0;
     }
     
     .pp_gallery li.default a {
         background: url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;
         display: block;
         height: 33px;
         width: 50px;
     }
